.auth {
	padding-right: 30px;
	padding-left: 30px;
	margin-right: 10px;
	margin-left: 10px;
}

.input-row {
   margin : 20px;
}
#login-btn {
  	
   width: 100px;
   margin: 0 auto;
   display : block;

}

#reg-btn {
  	
   width: 100px;
   margin: 0 auto;
   display : block;

}
.f-form {
	-webkit-align-content: right;
}
.input-row > div {
	text-align : right;
}

